.table {
  margin: 0 0.95rem;
  width: 100%;
  max-width: 1400px;
  text-transform: capitalize;
  border-collapse: collapse;
  border-spacing: 0;
  background: #fff;
  font-size: 0.8125rem;
  letter-spacing: 0;
  color: #003057;
  font: normal normal normal 13px/19px Roboto;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .table {
    max-width: 700px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .table {
    max-width: 100%;
  }
}

.table__header {
  color: #fff;
  font: normal normal medium 13px/19px Roboto;
}

.table__row {
  height: 50px;
}

.table__row-item {
  padding: 0 1rem;
  border-bottom: 1px solid rgb(230, 229, 229);
}

.table__row-item-head-right {
  background-color: #345777;
  text-align: left;
}

.table__row-item-head-left {
  background-color: #073156;
  text-align: center;
}

.border-right-header {
  border-right: 1px solid rgb(108 108 121);
}

.border-right-body {
  border-right: 1px solid rgb(230, 229, 229);
}
